body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flip{
  position: relative;
  height: 580px;
  width: 380px;
  min-width: 380px;
  min-height: 580px;
  margin-left: 3%;
  margin-top: 2%;
  background-color: transparent;


  }
  .flip .card.flipped {
    transform: rotateY(-180deg);
  }

  .flip .card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s;
    border-radius: 20px;
    border-width: 10px;
    border-color: whitesmoke;
    border-style: solid;
    background-color:rgb(15, 11, 80);
  }
  .flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:2 ;

  }
  .flip .card .front {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
  
.flip .card .back {
  transform: rotateY(-180deg);
  background-color:rgb(15, 11, 80);
  color: yellow;
  cursor: pointer;
}

.player-image-container{
  height: 580px;
  width: 280px;
  background-color:transparent;
  border-radius: 10px;
  position: absolute;
  left: 100px;
  z-index: 4;
  overflow: hidden;
}
.player-image{
  height: 685px;
  width: 430px;
}

.team-image{
  position: absolute;
  width: 380px;
  height: 580px;
  background-image: url(https://upload.wikimedia.org/wikipedia/tr/8/85/200px-Fenerbah%C3%A7e.png);
  background-size: 460px;
  background-repeat: no-repeat;
  background-position: center;
  background-position-x: -125px;
  opacity: .6;
  z-index: 3;
}

.team-image:hover{
  opacity: 1;
}
.player-image-container:hover +.team-image{
  opacity: 1;
}

.players-layout{
  max-width: 2000px;
  display: flex;
    -ms-flex-flow: wrap;
    flex-flow: wrap;


}
